.authentication {
    --authentication-background: white;
    --authentication-padding: var(--joy-fontSize-xl4);
    --authentication-gap: var(--joy-fontSize-xl);
    --authentication-animation: .3s ease;
    --authentication-divider: 1px solid rgba(0, 0, 0, .25);
    min-height: 100svh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: var(--authentication-padding);
}

.authentication>form {
    display: flex;
    flex-direction: column;
    gap: var(--authentication-gap);
    margin: auto;
    width: fit-content;
    border-radius: var(--joy-radius-md);
    box-shadow: var(--joy-shadow-md);
    padding: var(--authentication-padding);
    background-color: var(--authentication-background);
    width: 100%;
    max-width: 480px;
}

.authentication>form>p {
    text-align: center;
}

.authentication-passwords-wrapper,
.authentication-submit-wrapper {
    overflow: hidden;
    --input-height: 36px;
    height: var(--input-height);
    transition: height var(--authentication-animation);
    position: relative;
}

.authentication-passwords-wrapper>*:nth-child(2),
.authentication-submit-wrapper>*:nth-child(2) {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
}

.authentication-passwords-wrapper.confirm>*:nth-child(2),
.authentication-submit-wrapper.error>*:nth-child(2) {
    user-select: auto;
    pointer-events: auto;
}

.authentication-passwords-wrapper>*:first-child,
.authentication-submit-wrapper>:first-child {
    z-index: 1;
}

.authentication-passwords-wrapper.confirm {
    height: calc(var(--input-height) * 2 + var(--authentication-gap));
}

.authentication-passwords-wrapper>#password-constraints {
    display: none;
}

.authentication-submit-wrapper {
    --alert-height: 45px;
}

.authentication-submit-wrapper.error {
    height: calc(var(--input-height) + var(--alert-height) + var(--authentication-gap));
}

.authentication-divider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-divider>p {
    z-index: 1;
    background-color: var(--authentication-background);
    padding: 0 1em;
}

.authentication-divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    right: 0;
    border-bottom: var(--authentication-divider);
}

.authentication-compliance {
    text-align: left !important;
}