.content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-y: auto;
    position: relative;
}

.content>.welcome {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: .5em;
    padding-bottom: 0;
}

.content>.welcome>h1,
.content>.welcome>p {
    flex: 1;
}

.content>.welcome>h1 {
    font-size: 2em;
}

@media screen and (min-width: 868px) {
    .content>.welcome {
        flex-direction: row;
        gap: 2em;
        align-items: center;
        padding: 2em;
    }

    .content>.welcome>h1 {
        font-size: 3em;
        text-align: right;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        padding: 2em;
    }
}

.content p>ul>li {
    font-weight: bold;
}

.content p>ul>li:first-of-type {
    font-weight: normal;
}

.content p>ul>li>ul {
    font-weight: normal;
    list-style-type: disc;
    padding-left: 1.25em;
    margin-top: .25em;
}

.content>.structure>p>ul, .content>.method>p>ul {
    gap: 1em;
}

.content div>div>div>p>ol {
    padding-left: 1.5em;
}

.content div>div>div>p>ol {
    padding-left: 1.5em;
}

.content div>div>div>div>div>div>ol {
    margin-top: 1em;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content .MuiAccordionDetails-content {
    padding: 0 1em;
    gap: 1em;
}

.content .MuiAccordionDetails-content>p {
    margin: 0;
}
.content .MuiAccordionDetails-content>p:first-of-type {
    margin-top: 1em;
}

footer {
    text-align: center;
}