footer {
  display: flex;
  flex-direction: column;
  margin-top: calc(-1 * var(--padding-sm));
  padding: calc(var(--padding) * 2);
  gap: var(--padding-sm);
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 868px) {
  footer {
    margin-top: calc(-1 * var(--padding));
  }
}

footer>*:first-child {
  display: flex;
  justify-content: center;
  gap: inherit;
}

footer>p:first-of-type {
  display: none;
}

@media screen and (min-width: 769px) {
  footer>p:first-of-type {
    display: block;
  }
}