.question-bank-item>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    overflow: auto;
    margin: 0 calc(-1 * var(--padding-sm));
    padding: 0 var(--padding-sm);
}

.question-bank-item>div:first-of-type>div:first-of-type {
    display: flex;
    gap: .5em;
}

.question-bank-item ol {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-left: -1em;
}

@media screen and (min-width: 481px) {
    .question-bank-item ol {
        margin-left: 0;
    }
}


.question-bank-item .MuiAccordionGroup-root {
    border-radius: var(--joy-radius-md);
    overflow: hidden;
}

.question-bank-item .MuiAccordion-root:last-of-type {
    border-bottom: none;
}

.question-bank-item .MuiAccordionGroup-root ol {
    margin-top: var(--padding-xs);
    margin-bottom: 0;
}


.question-bank-item .MuiAccordionSummary-root>[aria-expanded="true"] {
    background-color: var(--joy-palette-neutral-plainHoverBg);
}

.question-bank-item .MuiAccordionSummary-root>[aria-expanded="true"]:hover {
    background-color: var(--joy-palette-neutral-plainActiveBg);
}