header {
    display: flex;
    align-items: center;
    padding: .5em 1em;
}

header>img {
    width: 5em;
    height: auto
}

header>h1 {
    margin-left: .5em;
}

header>div {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
    gap: .5em;
}

.content {
    flex: 1;
    padding: 1em;
}

footer {
    text-align: center;
    padding: 1em;
}