header {
    font-size: larger;
    display: flex;
    align-items: center;
    padding: .5em 1em;
    position: sticky;
    top: 0;
    background-color: var(--joy-palette-primary-softBg);
    z-index: 100;
}

header>h1 {
    flex: 1;
}

header>nav {
    display: none;
}

@media screen and (min-width: 1024px) {
    header>.MuiIconButton-root {
        display: none;
    }

    header>nav {
        display: flex;
        align-items: center;
        justify-content: right;
        flex: 1;
        gap: .5em;
        white-space: nowrap;
    }
}

.content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.content>.welcome {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content>.welcome>h1,
.content>.welcome>p {
    flex: 1;
}

@media screen and (min-width: 720px) {
    .content>.welcome {
        flex-direction: row;
        gap: 2em;
        align-items: center;
        padding: 2em;
    }

    .content>.welcome>h1 {
        font-size: 4em;
        text-align: right;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        padding: 3em;
    }
}

.content>nav {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

footer {
    text-align: center;
}